<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>短网址后台登录-X-admin2.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/font.css"/>
	<link rel="stylesheet" href="./css/xadmin.css"/>
	<script type="text/javascript" src="./lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script src="./js/jsencrypt.min.js"></script>
    <script src="./js/encrypt.min.js"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>

</head>
<body class="login-bg">
    
    <div class="login">
        <div class="message">短网址-管理登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <div class="layui-input-inline">
				<input class="layui-input" name="captcha" lay-verify="required" placeholder="验证码" type="text" autocomplete="off">
	            <hr class="hr15">
				<img id="captchaImage" src="captcha" onclick='captchaRefresh()' style="user-select: none; max-width: 4140px; cursor:pointer;">
	            <hr class="hr15">
            </div>
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20">
        </form>
    </div>

</body>
<script>
	function captchaRefresh() {
		$("#captchaImage").attr("src", "captcha?" + Math.random());
	}
	
    $(function() {
        layui.use('form', function(){
          var form = layui.form;
          //监听提交
          form.on('submit(login)', function(obj){
              var encrypted = encrypt.encrypt(JSON.stringify(obj.field));
        	  $.ajax({
      			type: "post",
      		    url: "/login",
      		    dataType: 'json',
      		  	data: encrypted,
      		    success: function (data) {
      		        if (data.flag) {
      		        	location.href='index';
      		        } else {
      		        	layer.msg(data.msg);
      		        	captchaRefresh();
      		        }
      		    },
      		    error: function () {
      		    	console.log("请求失败");
      		    }
      		});
        	return false;
          });
        });
    })
</script>
</html>