<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../lib/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
          	<input type="hidden" id="id" name="id" th:value="${edit?.id}">
          </div>
		  <div class="layui-form-item" th:if="${edit?.id} == null">
              <label for="url" class="layui-form-label">
                  <span class="x-red">*</span>短网址URL
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="url" name="url" lay-verify="url" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>需要生成短网址的真实地址
              </div>
          </div>
          <div class="layui-form-item">
              <label for="dwz_name" class="layui-form-label">
                  <span class="x-red">*</span>短网址名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="dwz_name" th:value="${edit?.dwz_name}" name="dwz_name" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>对应活动名称等
              </div>
          </div>
          <div class="layui-form-item">
              <label for="elaborate_on" class="layui-form-label">
                  <span class="x-red">*</span>详细说明
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="elaborate_on" name="elaborate_on" th:value="${edit?.elaborate_on}" required="" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>短网址使用说明及用途
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button id="submit" class="layui-btn" lay-filter="submit" lay-submit="" th:text="${title}"></button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
			$ = layui.jquery;
          	var form = layui.form
          	,layer = layui.layer;

          //监听提交
          form.on('submit(submit)', function(obj){
        	var load_index = layer.load();
        	var url = "";
        	var type = "";
        	if ($("#submit").text() == "更新") {
        		url = "update";
        		type = "put";
        	}else {
        		url = "insert";
        		type = "post";
        	}
            $.ajax({
      			type: type,
            	url: url,
            	data: obj.field,
            	success: function(result){
            		layer.close(load_index);
            		if (result.flag) {
            			layer.alert("操作成功", {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
            		}else {
            			layer.alert(result.msg);
            		}
            	}
            })
            return false;
          });
        });
    </script>
  </body>
</html>